{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Webpage title -->
    <title>Real-Time-Chat</title>

    <!-- Bootstrap CSS -->
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <!-- main start -->
    <main role="main" class="container">
        <div class="row justify-content-center mt-lg-5 mt-3">
            <div class="col-md-8 pb-2 mb-2">
                <!-- custom page header start -->
                {% block page_header %}{% endblock page_header %}
                <!-- custom page header end -->
            </div>
        </div>
        <!-- custom content start -->
        {% block content %}{% endblock %}
        <!-- custom content end -->
    </main>
    <!-- main end -->
</body>

</html>