{% extends "rt_chat/base.html" %}

{% block page_header %}
    <h1>Your Private Chats</h1>
{% endblock page_header %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <a href="{% url 'rt_chat:create_chat' %}" class="btn btn-secondary text-center">Create Private Chat</a>
                <div class="card-body">
                    <h4 class="text-center">Chats</h4>
                    <div class="p-3 profile-container">
                        <ul class="list-unstyled mb-0">
                            {% for other_user, last_message, time_diff in chats_with_last_messages %}
                                {% if request.user != other_user %}
                                    <li class="p-2 border-bottom">
                                        <a href="{% url 'rt_chat:chat' username=request.user.username other_username=other_user.username %}" class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                                <div>
                                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="avatar1" class="d-flex align-self-center me-3" width="60">
                                                </div>
                                                <div class="pt-1">
                                                    <p class="fw-bold mb-0">{{ other_user.username }}</p>
                                                    <p class="small text-muted">
                                                        {% if last_message %}
                                                            {{ last_message.content }}
                                                        {% else %}
                                                            No messages yet.
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="pt-1">
                                                <p class="small text-muted mb-1">{{ time_diff }}</p>
                                            </div>
                                        </a>
                                    </li>
                                {% endif %}
                            {% empty %}
                                <h4>No chats yet.</h4>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
