{% extends "rt_chat/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mb-4">
        <h1 class="mb-4 text-center">Create an account</h1>
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <form method="POST" action="{% url 'users:register' %}" class="bg-light p-4 rounded shadow-sm">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center mt-3">
                        <button name="submit" class="btn btn-success">Register</button>
                    </div>
                    <input type="hidden" name="next" value="{% url 'users:login' %}" />
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
