{% extends "rt_chat/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mb-4">
        <h1 class="mb-4 text-center">Your Account Settings</h1>
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <form method="POST" action="{% url 'users:account' %}" enctype="multipart/form-data" class="bg-white p-4 rounded shadow-sm">
                    {% csrf_token %}
                    <!-- profile picture -->
                    <div class="text-center mb-4">
                        <div class="position-relative d-inline-block">
                            <img class="rounded-circle border border-secondary shadow-sm mb-2" src="{{ user.profile.avatar.url }}" alt="{{ user.username }}'s avatar" style="width: 150px; height: 150px; object-fit: cover; cursor: pointer;"/>
                        </div>
                    </div>

                    <!-- form fields -->
                    {{ user_form|crispy }}
                    {{ profile_form|crispy }}

                    <!-- save & delete buttons -->
                    <div class="text-center mt-4">
                        <button name="submit" class="btn btn-primary me-2"><i class="bi bi-floppy"></i> Save Changes</button>
                        <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_account_modal" role="button"><i class="bi bi-trash"></i> Delete Account</a>
                    </div>
                    <input type="hidden" name="next" value="{% url 'rt_chat:chat_list' %}" />
                </form>
            </div>
        </div>
    </div>

    <!-- Delete account modal start -->
    <div class="modal fade" id="delete_account_modal" tabindex="-1" aria-labelledby="delete_account_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="delete_account_modal_label">DELETE ACCOUNT</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Procceed below to delete your account and all associated data. Deleting your account is permanent. It cannot be undone.
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="{% url 'users:delete_account' %}" role="button">Delete account</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete account modal end -->
{% endblock content %}

{% block footer %}
    <!-- footer start -->
    <footer class="border-top border-dark mt-5">
        <p class="text-center text-body-dark mt-3">&copy; 2024 KafetzisThomas</p>
    </footer>
    <!-- footer end -->
{% endblock footer %}
