body {
  background-color: #adbdcd;
}

/* Navigation link styles */
.nav-link {
  color: #808080;
  font-weight: 500;
  transition: color 0.3s ease;
}

/* Hover state styles for navigation links */
.nav-link:hover {
  color: #fff;
}

/* Active state styles for navigation links */
.nav-link.active {
  color: #fff;
}

#chat {
  border-radius: 15px;
}

#chat .form-control {
  border-color: transparent;
}

#chat .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

#avatar {
  width: 45px;
  height: 45px;
}

/* Add scrolling to profile container */
.profile-container {
  max-height: 550px;
  overflow-y: auto;
}

/* Fixed height for message container */
.messages-container {
  overflow-y: auto;
  height: calc(100% - 60px);
  max-height: calc(100% - 60px);  /* Ensure max height also respects the input area */
}
